{% extends "layout.html" %}

{% block title %}
    Games
{% endblock %}

{% block main %}
    <h5>Ongoing Games</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player 1</th>
                <th scope="col">Player 1 Email</th>
                <th scope="col">Player 2</th>
                <th scope="col">Player 2 Email</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <th scope="row">{{ game["game_number"] }}</th>
                    <td>{{ game["user_1_name"] }}</td>
                    <td>{{ game["user_1_email"] }}</td>
                    <td>{{ game["user_2_name"] }}</td>
                    <td>{{ game["user_2_email"] }}</td>
                    <td>{{ game["score"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
