{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="row g-3">
        <div class="col-md-4">
          <input autocomplete="off" autofocus class="form-control" id="email" name="email" type = "email" placeholder="Email" type="text">
          </div>
          <div class="col-md-4">
            <input autocomplete="off" autofocus class="form-control" id="password" name="password" type = "password" placeholder="Password" type="text">
          </div>
          <div class="col-md-4">
            <input autocomplete="off" autofocus class="form-control" id="password" name="confirmation" type = "password" placeholder="Confirm Password" type="text">
          </div>
        <div class="col-md-4">
          <input autocomplete="off" autofocus class="form-control" id="city" name="city" type = "inputCity" placeholder="City" type="text">
        </div>
        <div class="col-md-4">
          <select id="state" class="form-select">
            <option selected>State...</option>
            <option>California</option>
            <option>New York</option>
            <option>Hawaii</option>
            <option>Texas</option>
            <option>Michigan</option>
            <option>Florida</option>
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>

{% endblock %}
